 *{
    margin: 0;
    padding: 0;
}

html{
    background: url("../gfx/background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: Lato, sans-serif;
    color: #f3f3f3;
}

    .user-data{
        position: absolute;
        left: 60%;
        top: 40%;
        width: 300px;
        min-height: 100px;
        transform: translate(-50%);
    }

        .user-container{
            position: absolute;
            width: 100%;
            min-height: 110px;
            box-sizing: border-box;
            border-radius: 4px;
            background-color: rgba(127, 128, 132, 0.9);
            border: 1px solid rgba(38, 37, 38, 0.7);
            transform: translate(0, -85%);
            transition: 1.5s;
            z-index: 0;
        }

            .user-container > span{
                position: absolute;
            }

            .user-number{
                width: 40px;
                height: 40px;
                right: 12px;
                top: 12px; 
                border-radius: 50%;
                background-color: rgba(38, 37, 38, 1);
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(215, 216, 218, 0.7);  
                transform: translate(50%, -50%);
            }

            .user-name{
                left: 10%;
                top: -15%;
                background-color:#afb2b7;
                box-sizing: border-box;
                padding: 6px 20px;
                border-radius: 3px;
                border: 1px solid rgba(38, 37, 38, 0.7);
                font-size: 18px;
            }

                .user-container > div{
                    position: absolute;
                    left: 10%;
                }

                .user-tel{
                    top: 30%;
                }
                
                .user-age{
                    top: 60%;
                }

                .info{
                    font-weight: bold;
                }
    
        .moved{
            transform: rotateX(50deg);
        }

        .btn {
            position: absolute;
            top: -180%;
            left: 22%;
            background-color: rgba(38, 37, 38, 0.7);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            font-size: 16px;
        }
        button:focus {
            outline:0;
        }